@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-container::-webkit-scrollbar {
	width: 3px;
}

.scroll-container::-webkit-scrollbar-thumb {
	background-color: rgb(170, 166, 166);
	border-radius: 5px;
}
